.env*
/.idea
/vendor
.DS_Store
.cache
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
config.codekit3
prepros-6.config
node_modules
/vendor
storage/*
!storage/rebrand

/web/imager/*
/web/uploads/*
/web/transforms/*
/web/cache/*
