{% set pageTitle = "Blog" %}
{% extends "html/_includes/main" %}

{% block content %}
<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="opacity-100 transform-none">
            <h1>
                <span class="block font-display text-base font-semibold text-cyprus-500">Blog</span>
                <span class="sr-only"> - </span>
                <span class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-cyprus-500 [text-wrap:balance] sm:text-6xl">The latest articles and news</span>
            </h1>
            <div class="mt-6 max-w-3xl text-xl text-neutral-600">
                <p>
                    Stay up-to-date with the latest industry news as our marketing teams finds new ways to re-purpose old CSS tricks articles.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="space-y-24 lg:space-y-32">
            <div class="opacity-100 transform-none">
                <article>
                    <div class="pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="relative lg:-mx-4 lg:flex lg:justify-end">
                            <div class="pt-10 lg:w-2/3 lg:flex-none lg:px-4 lg:pt-0">
                                <h2 class="font-display text-2xl font-semibold text-cyprus-500">
                                    <a href="/blog/future-of-web-development">
                                        The Future of Web Development: Our Predictions for 2023
                                    </a>
                                </h2>
                                <dl class="lg:absolute lg:left-0 lg:top-0 lg:w-1/3 lg:px-4">
                                    <dt class="sr-only">Published</dt>
                                    <dd class="absolute left-0 top-0 text-sm text-cyprus-500 lg:static">
                                        <time datetime="2023-04-06">April 6, 2023</time>
                                    </dd>
                                    <dt class="sr-only">Author</dt>
                                    <dd class="mt-6 flex gap-x-4">
                                        <div class="flex-none overflow-hidden rounded-xl bg-neutral-100">
                                            <img src="/static/media/chelsea-hagon.073aa8f2.jpg" alt="" loading="lazy" width="1800" height="1800" decoding="async" data-nimg="1" class="text-transparent h-12 w-12 object-cover grayscale">
                                        </div>
                                        <div class="text-sm text-cyprus-500">
                                            <div class="font-semibold">Chelsea Hagon</div>
                                            <div>Senior Developer</div>
                                        </div>
                                    </dd>
                                </dl>
                                <p class="mt-6 max-w-2xl text-base text-neutral-600">
                                    Let’s explore the latest trends in web development, and regurgitate some predictions we read on Twitter for how they will shape the industry in the coming year.
                                </p>
                                <a class="mt-8 inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read more: The Future of Web Development: Our Predictions for 2023" href="/blog/future-of-web-development">
                                    <span class="relative top-px">
                                        Read more
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="opacity-100 transform-none">
                <article>
                    <div class="pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="relative lg:-mx-4 lg:flex lg:justify-end">
                            <div class="pt-10 lg:w-2/3 lg:flex-none lg:px-4 lg:pt-0">
                                <h2 class="font-display text-2xl font-semibold text-cyprus-500">
                                    <a href="/blog/3-lessons-we-learned-going-back-to-the-office">
                                        3 Lessons We Learned Going Back to the Office
                                    </a>
                                </h2>
                                <dl class="lg:absolute lg:left-0 lg:top-0 lg:w-1/3 lg:px-4">
                                    <dt class="sr-only">Published</dt>
                                    <dd class="absolute left-0 top-0 text-sm text-cyprus-500 lg:static">
                                        <time datetime="2023-02-18">February 18, 2023</time>
                                    </dd>
                                    <dt class="sr-only">Author</dt>
                                    <dd class="mt-6 flex gap-x-4">
                                        <div class="flex-none overflow-hidden rounded-xl bg-neutral-100">
                                            <img src="/static/media/leslie-alexander.cf5840d1.jpg" alt="" loading="lazy" width="1800" height="1800" decoding="async" data-nimg="1" class="h-12 w-12 object-cover grayscale text-transparent">
                                        </div>
                                        <div class="text-sm text-cyprus-500">
                                            <div class="font-semibold">Leslie Alexander</div>
                                            <div>
                                                Co-Founder / CEO
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <p class="mt-6 max-w-2xl text-base text-neutral-600">
                                    Earlier this year we made the bold decision to make everyone come back to the office full-time after two years working from a dressing table in the corner of their bedroom.
                                </p>
                                <a class="mt-8 inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read more: 3 Lessons We Learned Going Back to the Office" href="/blog/3-lessons-we-learned-going-back-to-the-office">
                                    <span class="relative top-px">
                                        Read more
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="opacity-100 transform-none">
                <article>
                    <div class="pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="relative lg:-mx-4 lg:flex lg:justify-end">
                            <div class="pt-10 lg:w-2/3 lg:flex-none lg:px-4 lg:pt-0">
                                <h2 class="font-display text-2xl font-semibold text-cyprus-500">
                                    <a href="/blog/a-short-guide-to-component-naming">
                                        A Short Guide to Component Naming
                                    </a>
                                </h2>
                                <dl class="lg:absolute lg:left-0 lg:top-0 lg:w-1/3 lg:px-4">
                                    <dt class="sr-only">Published</dt>
                                    <dd class="absolute left-0 top-0 text-sm text-cyprus-500 lg:static">
                                        <time datetime="2022-12-01">December 1, 2022</time>
                                    </dd>
                                    <dt class="sr-only">Author</dt>
                                    <dd class="mt-6 flex gap-x-4">
                                        <div class="flex-none overflow-hidden rounded-xl bg-neutral-100">
                                            <img src="/static/media/angela-fisher.f2122cd4.jpg" alt="" loading="lazy" width="1800" height="1800" decoding="async" data-nimg="1" class="h-12 w-12 object-cover grayscale text-transparent">
                                        </div>
                                        <div class="text-sm text-cyprus-500">
                                            <div class="font-semibold">Angela Fisher</div>
                                            <div>
                                                Front-end Developer
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <p class="mt-6 max-w-2xl text-base text-neutral-600">
                                    As a developer,  the most important aspect of your job is naming components. It’s not just about being descriptive and clear, but also about having fun and being creative.
                                </p>
                                <a class="mt-8 inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read more: A Short Guide to Component Naming" href="/blog/a-short-guide-to-component-naming">
                                    <span class="relative top-px">
                                        Read more
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="-mx-6 rounded-4xl bg-cyprus-500 px-6 py-20 sm:mx-0 sm:py-32 md:px-12 opacity-100 transform-none">
            <div class="mx-auto max-w-4xl">
                <div class="max-w-xl">
                    <h2 class="font-display text-3xl font-medium text-white [text-wrap:balance] sm:text-4xl">Tell us about your project</h2>
                    <div class="mt-6 flex">
                        <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-white text-cyprus-500 hover:bg-neutral-200" href="/contact">
                            <span class="relative top-px">Say Hello!</span>
                        </a>
                    </div>
                    <div class="mt-10 border-t border-uf-green pt-10">
                        <h3 class="font-display text-base font-semibold text-white">Our office</h3>
                        <ul role="list" class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Port Talbot</strong><br>Sandfields Business Centre,<br>Purcell Avenue, Port Talbot, SA12 7PQ
                                </address>
                            </li>
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Telephone</strong><br>
                                    <a href="tel:01639 895 677">
                                        01639 895 677
                                    </a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}