{% set pageTitle = "Blog Detail" %}
{% extends "html/_includes/main" %}

{% block content %}
<article class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div>
            <header class="mx-auto flex max-w-5xl flex-col text-center">
                <h1 class="mt-6 font-display text-5xl font-medium tracking-tight text-cyprus-500 [text-wrap:balance] sm:text-6xl">The Future of Web Development: Our Predictions for 2023</h1><time datetime="2023-04-06" class="order-first text-sm text-cyprus-500">April 6, 2023</time>
                <p class="mt-6 text-sm font-semibold text-cyprus-500">by Chelsea Hagon, Senior Developer</p>
            </header>
        </div>
        <div>
            <div class="[&>*]:mx-auto [&>*]:max-w-3xl [&>:first-child]:!mt-0 [&>:last-child]:!mb-0 mt-24 sm:mt-32 lg:mt-40">
                <div class="typography">
                    <h2 class="text-2xl font-semibold">1. AI Assisted Development</h2>
                    <p>With the launch of Github Copilot in 2022 the industry got its first glimpse at what it would look like to have Stack Overflow plumbed straight into your IDE. Copilot has given thousands of developers what they always longed for: plausible deniability over the bugs they write.</p>
                    <div class="group isolate my-10 overflow-hidden rounded-4xl bg-neutral-100 max-sm:-mx-6">
                        <div class="group relative">
                            <img alt="" loading="lazy" width="2400" height="1600" decoding="async" data-nimg="1" class="aspect-[16/10] w-full object-cover text-transparent" sizes="(min-width: 768px) 42rem, 100vw" src="/static/media/pilot.139e6ddc.jpg" style="filter: grayscale(0.471828);">
                            <div class="pointer-events-none absolute left-0 top-0 w-full opacity-0 transition duration-300 group-hover:opacity-100" aria-hidden="true">
                                <img alt="" loading="lazy" width="2400" height="1600" decoding="async" data-nimg="1" class="aspect-[16/10] w-full object-cover" sizes="(min-width: 768px) 42rem, 100vw" src="/static/media/pilot.139e6ddc.jpg" style="color: transparent;">
                            </div>
                        </div>
                    </div>
                    <p>In 2023 we can expect these assistants to become more sophisticated and for that to have ripple effects throughout the industry.</p>
                    <p>We predict that traffic to MDN will decline precipitously as developers realise they no longer need to look up JS array methods. We also expect Stack Overflow’s sister site, Prompt Overflow, to become one of the most popular sites on the internet in a matter of months.</p>
                    <h2 class="text-2xl font-semibold">2. Rendering Patterns</h2>
                    <p>To server render or not to server render? In 2022 the owners of the internet, Vercel, decided that instead of making this choice once for your whole application, now you will need to decide every time you write a new component.</p>
                    <p>Because front-end development was becoming too easy, the same people who write CSS will now need to know how Streaming SSR and Progressive Hydration work.</p>

                    <div class="group isolate my-10 overflow-hidden rounded-4xl bg-neutral-100 max-sm:-mx-6">
                        <div class="group relative">
                            <img alt="" loading="lazy" width="2400" height="1600" decoding="async" data-nimg="1" class="aspect-[16/10] w-full object-cover" sizes="(min-width: 768px) 42rem, 100vw" src="/static/media/server.5e002a1b.jpg" style="color: transparent; filter: grayscale(1);">
                            <div class="pointer-events-none absolute left-0 top-0 w-full opacity-0 transition duration-300 group-hover:opacity-100" aria-hidden="true">
                                <img alt="" loading="lazy" width="2400" height="1600" decoding="async" data-nimg="1" class="aspect-[16/10] w-full object-cover" sizes="(min-width: 768px) 42rem, 100vw" src="/static/media/server.5e002a1b.jpg" style="color: transparent;">
                            </div>
                        </div>
                    </div>
                    <p>In 2023 we can expect frameworks to adopt increasingly granular rendering patterns culminating in per-line rendering (PLR) later this year. We can also expect job postings for Rendering Reliability Engineers to reach an all time high.</p>
                    <h2 class="text-2xl font-semibold">3. JS Runtimes</h2>
                    <p>Because choosing a JS runtime was one of the only areas where a developer wasn’t paralysed with choice, in early 2020, the creator of Node gave us something new to agonise over. The launch of Deno and Bun heralded the final mutation of JavaScript into a language that can truly run anywhere it wasn’t intended to.</p>
                    <p>These new JS runtimes mean we can now serve HTML faster than ever before. For example, we’ve reduced the Time to First Byte (TTFB) of this blog to -0.4s. That means it actually loaded before you clicked the link.</p>

                    <div class="group isolate my-10 overflow-hidden rounded-4xl bg-neutral-100 max-sm:-mx-6">
                        <div class="group relative">
                            <img alt="" loading="lazy" width="2400" height="1600" decoding="async" data-nimg="1" class="aspect-[16/10] w-full object-cover" sizes="(min-width: 768px) 42rem, 100vw" src="/static/media/laptop.50d2f342.jpg" style="color: transparent; filter: grayscale(1);">
                            <div class="pointer-events-none absolute left-0 top-0 w-full opacity-0 transition duration-300 group-hover:opacity-100" aria-hidden="true">
                                <img alt="" loading="lazy" width="2400" height="1600" decoding="async" data-nimg="1" class="aspect-[16/10] w-full object-cover" sizes="(min-width: 768px) 42rem, 100vw" src="/static/media/laptop.50d2f342.jpg" style="color: transparent;">
                            </div>
                        </div>
                    </div>
                    <p>In 2023 we can expect even faster and more specialised JS runtimes to launch, including the promising Boil, a runtime specifically designed to reduce cold boot times on WiFi enabled kettles. All of these advancements promise to make the future of botnets a truly exciting one.</p>

                </div>
            </div>
        </div>
    </div>
</article>

<div class="relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
    <div class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50"><svg aria-hidden="true" class="absolute inset-0 h-full w-full fill-neutral-100 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_40%,transparent_50%)]">
            <rect width="100%" height="100%" fill="url(#:Rdbbbalkq:)" stroke-width="0"></rect><svg x="50%" y="-270" stroke-width="0" class="overflow-visible">
                <path transform="translate(64 160)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(128 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(288 480)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(512 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(544 640)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(320 800)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            </svg>
            <defs>
                <pattern id=":Rdbbbalkq:" width="96" height="480" x="50%" patternUnits="userSpaceOnUse" patternTransform="translate(0 -270)" fill="none">
                    <path d="M128 0 98.572 147.138A16 16 0 0 1 82.883 160H13.117a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-45.117 320H-116M64-160 34.572-12.862A16 16 0 0 1 18.883 0h-69.766a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-109.117 160H-180M192 160l-29.428 147.138A15.999 15.999 0 0 1 146.883 320H77.117a16 16 0 0 0-15.69 12.862L34.573 467.138A16 16 0 0 1 18.883 480H-52M-136 480h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1-18.883 320h69.766a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 109.117 160H192M-72 640h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 45.117 480h69.766a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A15.999 15.999 0 0 1 173.117 320H256M-200 320h58.883a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A16 16 0 0 1-82.883 160h69.766a16 16 0 0 0 15.69-12.862L29.427 12.862A16 16 0 0 1 45.117 0H128"></path>
                </pattern>
            </defs>
        </svg></div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="max-w-2xl">
                <h2><span class="block font-display tracking-tight [text-wrap:balance] text-2xl font-semibold text-cyprus-500">More articles</span></h2>
            </div>
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
                <div>
                    <article>
                        <div class="flex flex-col items-start pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <h3 class="mt-6 text-base font-semibold text-cyprus-500">3 Lessons We Learned Going Back to the Office</h3><time datetime="2023-02-18" class="order-first text-sm text-neutral-600">February 18, 2023</time>
                            <p class="mt-2.5 text-base text-neutral-600">Earlier this year we made the bold decision to make everyone come back to the office full-time after two years working from a dressing table in the corner of their bedroom.</p><a class="mt-6 flex gap-x-3 text-base font-semibold text-cyprus-500 transition hover:text-neutral-700" aria-label="Read more: 3 Lessons We Learned Going Back to the Office" href="/blog/3-lessons-we-learned-going-back-to-the-office">Read more<svg viewBox="0 0 24 6" aria-hidden="true" class="w-6 flex-none fill-current">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 3 18 .5v2H0v1h18v2L24 3Z"></path>
                                </svg><span class="absolute inset-0"></span></a>
                        </div>
                    </article>
                </div>
                <div>
                    <article>
                        <div class="flex flex-col items-start pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <h3 class="mt-6 text-base font-semibold text-cyprus-500">A Short Guide to Component Naming</h3><time datetime="2022-12-01" class="order-first text-sm text-neutral-600">December 1, 2022</time>
                            <p class="mt-2.5 text-base text-neutral-600">As a developer, the most important aspect of your job is naming components. It’s not just about being descriptive and clear, but also about having fun and being creative.</p><a class="mt-6 flex gap-x-3 text-base font-semibold text-cyprus-500 transition hover:text-neutral-700" aria-label="Read more: A Short Guide to Component Naming" href="/blog/a-short-guide-to-component-naming">Read more<svg viewBox="0 0 24 6" aria-hidden="true" class="w-6 flex-none fill-current">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 3 18 .5v2H0v1h18v2L24 3Z"></path>
                                </svg><span class="absolute inset-0"></span></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="-mx-6 rounded-4xl bg-cyprus-500 px-6 py-20 sm:mx-0 sm:py-32 md:px-12">
            <div class="mx-auto max-w-4xl">
                <div class="max-w-xl">
                    <h2 class="font-display text-3xl font-medium text-white [text-wrap:balance] sm:text-4xl">Tell us about your project</h2>
                    <div class="mt-6 flex"><a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-white text-cyprus-500 hover:bg-neutral-200" href="/contact"><span class="relative top-px">Say Hello!</span></a></div>
                    <div class="mt-10 border-t border-green-500 pt-10">
                        <h3 class="font-display text-base font-semibold text-white">Our office</h3>
                        <ul role="list" class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <li>
                                <address class="text-sm not-italic text-neutral-300"><strong class="text-white">Port Talbot</strong><br>Sandfields Business Centre,<br>Purcell Avenue, Port Talbot, SA12 7PQ</address>
                            </li>
                            <li>
                                <address class="text-sm not-italic text-neutral-300"><strong class="text-white">Telephone</strong><br><a href="tel:01639 895 677">01639 895 677</a></address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}