{% set pageTitle = "Work" %}
{% extends "html/_includes/main" %}

{% block content %}

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="opacity-100 transform-none">
            <h4 class="block font-display text-base font-semibold text-cyprus-500">
                Our work
            </h4>
            <h1 class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-cyprus-500 [text-wrap:balance]">
                Proven solutions for real-world problems.
            </h1>

            <div class="mt-6 max-w-3xl text-xl text-neutral-600">
                <p>
                    We believe in efficiency and maximizing our resources to provide the best value to our clients. The primary way we do that is by re-using the same five projects we’ve been developing for the past decade.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="opacity-100 transform-none">
            <h2 class="font-display text-2xl font-semibold text-cyprus-500">
                Case studies
            </h2>
        </div>
        <div class="mt-10 space-y-20 sm:space-y-24 lg:space-y-32">
            <div>
                <article>
                    <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                            <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                                <img alt="" loading="lazy" width="36" height="36" decoding="async" data-nimg="1" class="h-16 w-16 flex-none text-transparent" src="/static/media/logomark-dark.4d2947be.svg">
                                <h3 class="mt-6 text-sm font-semibold text-cyprus-500 sm:mt-0 lg:mt-8">
                                    FamilyFund
                                </h3>
                            </div>
                            <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block">
                                <p class="text-sm tracking-tight text-cyprus-500 after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                                    Web development, CMS
                                </p>
                                <p class="text-sm text-cyprus-500 lg:mt-2">
                                    <time datetime="2023-01">
                                        January 2023
                                    </time>
                                </p>
                            </div>
                        </div>
                        <div class="col-span-full lg:col-span-2 lg:max-w-2xl">
                            <p class="font-display text-4xl font-medium text-cyprus-500">
                                <a href="/work/family-fund">Skip the bank, borrow from those you trust</a>
                            </p>
                            <div class="mt-6 space-y-6 text-base text-neutral-600">
                                <p>
                                    FamilyFund is a crowdfunding platform for friends and family. Allowing users to take personal loans from their network without a traditional financial institution.
                                </p>
                                <p>
                                    We developed a custom CMS to power their blog with and optimised their site to rank higher for the keywords “Gary Vee” and “Tony Robbins”.
                                </p>
                            </div>
                            <div class="mt-8 flex">
                                <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read case study: FamilyFund" href="/work/family-fund">
                                    <span class="relative top-px">Read case study</span>
                                </a>
                            </div>
                            <div class="pl-8 mt-12 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                                <figure class="text-sm">
                                    <blockquote class="text-neutral-600 [&amp;>*]:relative [&amp;>:first-child]:before:absolute [&amp;>:first-child]:before:right-full [&amp;>:first-child]:before:content-['“'] [&amp;>:last-child]:after:content-['”']">
                                        <p>
                                            Working with Studio, we felt more like a partner than a customer. They really resonated with our mission to change the way people convince their parents to cash out their pensions.
                                        </p>
                                    </blockquote>
                                    <figcaption class="mt-6 font-semibold text-cyprus-500">
                                        Debra Fiscal<!-- -->, <!-- -->CEO of FamilyFund
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div>
                <article>
                    <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                            <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                                <img alt="" loading="lazy" width="217" height="31" decoding="async" data-nimg="1" class="h-16 w-16 flex-none text-transparent" src="/static/media/macdon-logo.bc0f559c.svg">
                                <h3 class="mt-6 text-sm font-semibold text-cyprus-500 sm:mt-0 lg:mt-8">MacDon</h3>
                            </div>
                            <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block">
                                <p class="text-sm tracking-tight text-cyprus-500 after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                                    Web development, CMS
                                </p>
                                <p class="text-sm text-cyprus-500 lg:mt-2">
                                    <time datetime="2023-01">January 2023</time>
                                </p>
                            </div>
                        </div>
                        <div class="col-span-full lg:col-span-2 lg:max-w-2xl">
                            <p class="font-display text-4xl font-medium text-cyprus-500">
                                <a href="/work/macdon">MacDon: The Harvesting Specialists</a>
                            </p>
                            <div class="mt-6 space-y-6 text-base text-neutral-600">
                                <p>
                                    MacDon Industries Ltd. is a Canadian manufacturer of specialty agricultural equipment.
                                </p>
                                <p>
                                    We developed a custom CMS solution blah blah blah.
                                </p>
                            </div>
                            <div class="mt-8 flex">
                                <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read case study: MacDon" href="/work/macdon">
                                    <span class="relative top-px">Read case study</span>
                                </a>
                            </div>
                            <div class="pl-8 mt-12 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                                <figure class="text-sm">
                                    <blockquote class="text-neutral-600 [&amp;>*]:relative [&amp;>:first-child]:before:absolute [&amp;>:first-child]:before:right-full [&amp;>:first-child]:before:content-['“'] [&amp;>:last-child]:after:content-['”']">
                                        <p>
                                            Working with Studio, we felt more like a partner than a customer. They really resonated with our mission to change the way people convince their parents to cash out their pensions.
                                        </p>
                                    </blockquote>
                                    <figcaption class="mt-6 font-semibold text-cyprus-500">
                                        Carlos Andrade<!-- -->, <!-- -->Senior Manager, Global Brand &amp; Events at MacDon Industries
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div>
                <article>
                    <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                            <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                                <img alt="" loading="lazy" width="36" height="36" decoding="async" data-nimg="1" class="h-16 w-16 flex-none text-transparent" src="/static/media/logomark-dark.73187f97.svg">
                                <h3 class="mt-6 text-sm font-semibold text-cyprus-500 sm:mt-0 lg:mt-8">Unseal</h3>
                            </div>
                            <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block">
                                <p class="text-sm tracking-tight text-cyprus-500 after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                                    Blockchain development
                                </p>
                                <p class="text-sm text-cyprus-500 lg:mt-2">
                                    <time datetime="2022-10">October 2022</time>
                                </p>
                            </div>
                        </div>
                        <div class="col-span-full lg:col-span-2 lg:max-w-2xl">
                            <p class="font-display text-4xl font-medium text-cyprus-500">
                                <a href="/work/unseal">Get a hodl of your health</a>
                            </p>
                            <div class="mt-6 space-y-6 text-base text-neutral-600">
                                <p>
                                    Unseal is the first NFT platform where users can mint and trade NFTs of their own personal health records, allowing them to take control of their data.
                                </p>
                                <p>
                                    We built out the blockchain infrastructure that supports Unseal. Unfortunately, we took a massive loss on this project when Unseal’s cryptocurrency, PlaceboCoin, went to zero.
                                </p>
                            </div>
                            <div class="mt-8 flex">
                                <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read case study: Unseal" href="/work/unseal">
                                    <span class="relative top-px">Read case study</span>
                                </a>
                            </div>
                            <div class="pl-8 mt-12 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                                <figure class="text-sm">
                                    <blockquote class="text-neutral-600 [&amp;>*]:relative [&amp;>:first-child]:before:absolute [&amp;>:first-child]:before:right-full [&amp;>:first-child]:before:content-['“'] [&amp;>:last-child]:after:content-['”']">
                                        <p>
                                            Studio did an amazing job building out our core blockchain infrastructure and I’m sure once PlaceboCoin rallies they’ll be able to finish the project.
                                        </p>
                                    </blockquote>
                                    <figcaption class="mt-6 font-semibold text-cyprus-500">
                                        Emily Selman<!-- -->, <!-- -->Head of Engineering at Unseal
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div>
                <article>
                    <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                            <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                                <img alt="" loading="lazy" width="36" height="36" decoding="async" data-nimg="1" class="h-16 w-16 flex-none text-transparent" src="/static/media/logomark-dark.00d7d7b3.svg">
                                <h3 class="mt-6 text-sm font-semibold text-cyprus-500 sm:mt-0 lg:mt-8">Phobia</h3>
                            </div>
                            <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block">
                                <p class="text-sm tracking-tight text-cyprus-500 after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                                    App development
                                </p>
                                <p class="text-sm text-cyprus-500 lg:mt-2">
                                    <time datetime="2022-06">June 2022</time>
                                </p>
                            </div>
                        </div>
                        <div class="col-span-full lg:col-span-2 lg:max-w-2xl">
                            <p class="font-display text-4xl font-medium text-cyprus-500">
                                <a href="/work/phobia">Overcome your fears, find your match</a>
                            </p>
                            <div class="mt-6 space-y-6 text-base text-neutral-600">
                                <p>
                                    Find love in the face of fear — Phobia is a dating app that matches users based on their mutual phobias so they can be scared together.
                                </p>
                                <p>
                                    We worked with Phobia to develop a new onboarding flow. A user is shown pictures of common phobias and we use the microphone to detect which ones make them scream, feeding the results into the matching algorithm.
                                </p>
                            </div>
                            <div class="mt-8 flex">
                                <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-cyprus-500 text-white hover:bg-uf-green" aria-label="Read case study: Phobia" href="/work/phobia">
                                    <span class="relative top-px">Read case study</span>
                                </a>
                            </div>
                            <div class="pl-8 mt-12 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                                <figure class="text-sm">
                                    <blockquote class="text-neutral-600 [&amp;>*]:relative [&amp;>:first-child]:before:absolute [&amp;>:first-child]:before:right-full [&amp;>:first-child]:before:content-['“'] [&amp;>:last-child]:after:content-['”']">
                                        <p>
                                            The team at Studio went above and beyond with our onboarding, even finding a way to access the user’s microphone without triggering one of those annoying permission dialogs.
                                        </p>
                                    </blockquote>
                                    <figcaption class="mt-6 font-semibold text-cyprus-500">
                                        Jenny Wilson<!-- -->, <!-- -->CPO of Phobia
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>

<div class="relative isolate bg-neutral-50 py-16 sm:py-28 md:py-32 mt-24 sm:mt-32 lg:mt-40"><svg aria-hidden="true" class="absolute inset-0 -z-10 h-full w-full fill-neutral-100 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_50%,transparent_60%)]"><rect width="100%" height="100%" fill="url(#:Rnbbalkq:)" stroke-width="0"></rect><svg x="50%" y="-256" stroke-width="0" class="overflow-visible"><path transform="translate(64 160)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path><path transform="translate(128 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path><path transform="translate(288 480)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path><path transform="translate(512 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path><path transform="translate(544 640)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path><path transform="translate(320 800)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path></svg><defs><pattern id=":Rnbbalkq:" width="96" height="480" x="50%" patternUnits="userSpaceOnUse" patternTransform="translate(0 -256)" fill="none"><path d="M128 0 98.572 147.138A16 16 0 0 1 82.883 160H13.117a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-45.117 320H-116M64-160 34.572-12.862A16 16 0 0 1 18.883 0h-69.766a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-109.117 160H-180M192 160l-29.428 147.138A15.999 15.999 0 0 1 146.883 320H77.117a16 16 0 0 0-15.69 12.862L34.573 467.138A16 16 0 0 1 18.883 480H-52M-136 480h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1-18.883 320h69.766a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 109.117 160H192M-72 640h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 45.117 480h69.766a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A15.999 15.999 0 0 1 173.117 320H256M-200 320h58.883a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A16 16 0 0 1-82.883 160h69.766a16 16 0 0 0 15.69-12.862L29.427 12.862A16 16 0 0 1 45.117 0H128"></path></pattern></defs></svg>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div>
                <figure class="mx-auto max-w-4xl">
                    <blockquote class="relative font-display text-3xl font-medium tracking-tight text-cyprus-500 sm:text-4xl">
                        <p class="before:content-['“'] after:content-['”'] sm:before:absolute sm:before:right-full">
                            We approached <em>Studio</em> because we loved their past work. They delivered something remarkably similar in record time.
                        </p>
                    </blockquote>

                    <figcaption class="mt-10">
                        <img alt="Mail Smirk" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.ac5d2e8d.svg">
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div>
            <h2 class="font-display text-2xl font-semibold text-cyprus-500">
                You’re in good company
            </h2>
        </div>
        <div class="mt-10">
            <div class="relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"></div>
            <ul role="list" class="grid grid-cols-2 gap-x-8 gap-y-12 sm:grid-cols-3 lg:grid-cols-4">
                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Phobia" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.353d4760.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Family Fund" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.7370ef3f.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Unseal" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.4785dd63.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Mail Smirk" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.ac5d2e8d.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Home Work" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.e87ae13a.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Green Life" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.645d638e.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="Bright Path" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.1ff7dc9b.svg">
                        </div>
                    </div>
                </li>

                <li class="group">
                    <div class="overflow-hidden">
                        <div class="pt-12 group-[&amp;:nth-child(-n+2)]:-mt-px sm:group-[&amp;:nth-child(3)]:-mt-px lg:group-[&amp;:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                            <img alt="North Adventures" loading="lazy" width="184" height="36" decoding="async" data-nimg="1" class="text-transparent" src="/static/media/logo-dark.ad8a4f58.svg">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="-mx-6 rounded-4xl bg-cyprus-500 px-6 py-20 sm:mx-0 sm:py-32 md:px-12">
            <div class="mx-auto max-w-4xl">
                <div class="max-w-xl">
                    <h2 class="font-display text-3xl font-medium text-white [text-wrap:balance] sm:text-4xl">
                        Tell us about your project
                    </h2>
                    <div class="mt-6 flex">
                        <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-white text-cyprus-500 hover:bg-neutral-200" href="/contact">
                            <span class="relative top-px">Say Hello!</span>
                        </a>
                    </div>
                    <div class="mt-10 border-t border-uf-green pt-10">
                        <h3 class="font-display text-base font-semibold text-white">
                            Our office
                        </h3>
                        <ul role="list" class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Port Talbot</strong><br>
                                    Sandfields Business Centre,<br>Purcell Avenue, Port Talbot, SA12 7PQ
                                </address>
                            </li>
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Telephone</strong><br>
                                    <a href="tel:01639 895 677">01639 895 677</a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
