{% set pageTitle = "Work - Detail" %}
{% extends "html/_includes/main" %}

{% block content %}
<article class="mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40 text-center">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div>
                <h1>
                    <span class="block font-display text-base font-semibold text-cyprus-500">Case Study</span>
                    <span class="sr-only"> - </span>
                    <span class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-cyprus-500 [text-wrap:balance] sm:text-6xl mx-auto">Get a hodl of your health</span>
                </h1>
                <div class="mt-6 max-w-3xl text-xl text-neutral-600 mx-auto">
                    <p>
                        Unseal is the first NFT platform where users can mint and trade NFTs of their own personal health records, allowing them to take control of their data.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="opacity-100 transform-none">
        <div class="mt-24 border-t border-neutral-200 bg-white/50 sm:mt-32 lg:mt-40">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:max-w-none">
                    <div class="mx-auto max-w-5xl">
                        <dl class="-mx-6 grid grid-cols-1 text-sm text-cyprus-500 sm:mx-0 sm:grid-cols-3">
                            <div class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                                <dt class="font-semibold">Client</dt>
                                <dd>Unseal</dd>
                            </div>
                            <div class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                                <dt class="font-semibold">Year</dt>
                                <dd>
                                    <time datetime="2022">2022</time>
                                </dd>
                            </div>
                            <div class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                                <dt class="font-semibold">Service</dt>
                                <dd>Blockchain development</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-y border-neutral-200 bg-neutral-100">
            <div class="-my-px mx-auto max-w-[76rem] bg-neutral-200">
                <div class="group relative">
                    <img src="/static/media/hero.5a19c176.jpg" alt="" fetchpriority="high" width="3648" height="3117" decoding="async" data-nimg="1" class="w-full" style="color: transparent; filter: grayscale(1);" sizes="(min-width: 1216px) 76rem, 100vw">
                    <div class="pointer-events-none absolute left-0 top-0 w-full opacity-0 transition duration-300 group-hover:opacity-100" aria-hidden="true">
                        <img src="/static/media/hero.5a19c176.jpg" alt="" fetchpriority="high" width="3648" height="3117" decoding="async" data-nimg="1" class="w-full" style="color:transparent" sizes="(min-width: 1216px) 76rem, 100vw">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div>
                <div class="[&amp;>*]:mx-auto [&amp;>*]:max-w-3xl [&amp;>:first-child]:!mt-0 [&amp;>:last-child]:!mb-0">
                    <div class="typography">
                        <h2>Overview</h2>
                        <p>
                            Annoyed that his wife’s gynaecologist would not disclose the results of her pap smear, Unseal’s founder Kevin came up with the idea of using the block chain to store individual health records.
                        </p>
                        <p>
                            Unseal approached us early in their development, having just raised funds through an ICO of their cryptocurrency PlaceboCoin. Having never worked on a web3 product we decided to farm the project out to an agency in Kyiv and skim profits off the top. Despite frequent complaints about missile strikes and power outages, the Ukrainians delivered the brief ahead of schedule.
                        </p>
                        <p>
                            After reaching a high of $12k, PlaceboCoin went to zero in a matter of hours. Because we took payment in PlaceboCoin but our subcontractors insisted on being paid in USD we have taken a huge financial loss on this project.
                        </p>
                        <h2>What we did</h2>
                    </div>
                    <ul role="list" class="my-6 flex flex-wrap gap-4">
                        <li class="rounded-full bg-neutral-100 px-4 py-1.5 text-base text-neutral-600">Blockchain development</li>
                        <li class="rounded-full bg-neutral-100 px-4 py-1.5 text-base text-neutral-600">Backend (Solidity)</li>
                        <li class="rounded-full bg-neutral-100 px-4 py-1.5 text-base text-neutral-600">Smart contracts</li>
                    </ul>
                    <div class="typography"></div>
                    <figure class="grid grid-cols-[auto,1fr] items-center gap-x-4 gap-y-8 sm:grid-cols-12 sm:grid-rows-[1fr,auto,auto,1fr] sm:gap-x-10 lg:gap-x-16 my-32">
                        <blockquote class="col-span-2 text-xl/7 text-neutral-600 sm:col-span-7 sm:col-start-6 sm:row-start-2">
                            <p>
                                Studio did an amazing job building out our core blockchain infrastructure and
                                I’m sure once PlaceboCoin rallies they’ll be able to finish the project.
                            </p>
                        </blockquote>
                        <div class="col-start-1 row-start-2 overflow-hidden rounded-xl bg-neutral-100 sm:col-span-5 sm:row-span-full sm:rounded-3xl">
                            <img src="/static/media/emily-selman.8e8b8ede.jpg" alt="" loading="lazy" width="1800" height="1800" decoding="async" data-nimg="1" class="h-12 w-12 object-cover grayscale sm:aspect-[7/9] sm:h-auto sm:w-full" style="color:transparent" sizes="(min-width: 1024px) 17.625rem, (min-width: 768px) 16rem, (min-width: 640px) 40vw, 3rem">
                        </div>
                        <figcaption class="text-sm text-cyprus-500 sm:col-span-7 sm:row-start-3 sm:text-base">
                            <span class="font-semibold">Emily Selman</span>
                            <span class="hidden font-semibold sm:inline">, </span><br class="sm:hidden">
                            <span class="sm:font-semibold">Head of Engineering at Unseal</span>
                        </figcaption>
                    </figure>
                    <div class="typography"></div>
                    <div class="my-32 !max-w-none">
                        <dl class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:auto-cols-fr lg:grid-flow-col lg:grid-cols-none">
                            <div class="flex flex-col-reverse pl-8 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px" >
                                <dt class="mt-2 text-base text-neutral-600">Fewer transactions</dt>
                                <dd class="font-display text-3xl font-semibold text-cyprus-500 sm:text-4xl">34%</dd>
                            </div>
                            <div class="flex flex-col-reverse pl-8 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px" >
                                <dt class="mt-2 text-base text-neutral-600">Slower transactions</dt>
                                <dd class="font-display text-3xl font-semibold text-cyprus-500 sm:text-4xl">10%</dd>
                            </div>
                            <div class="flex flex-col-reverse pl-8 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px" >
                                <dt class="mt-2 text-base text-neutral-600">Transaction latency</dt>
                                <dd class="font-display text-3xl font-semibold text-cyprus-500 sm:text-4xl">1000ms</dd>
                            </div>
                            <div class="flex flex-col-reverse pl-8 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px" >
                                <dt class="mt-2 text-base text-neutral-600">Active nodes</dt>
                                <dd class="font-display text-3xl font-semibold text-cyprus-500 sm:text-4xl">3</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="typography"></div>
                </div>
            </div>
        </div>
    </div>
</article>

<div class="relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
    <div class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50">
        <svg aria-hidden="true" class="absolute inset-0 h-full w-full fill-neutral-100 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_40%,transparent_50%)]">
            <rect width="100%" height="100%" fill="url(#:Rdbbbalkq:)" stroke-width="0"></rect>
            <svg x="50%" y="-270" stroke-width="0" class="overflow-visible">
                <path transform="translate(64 160)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(128 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(288 480)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(512 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(544 640)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                <path transform="translate(320 800)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            </svg>
            <defs>
                <pattern id=":Rdbbbalkq:" width="96" height="480" x="50%" patternUnits="userSpaceOnUse" patternTransform="translate(0 -270)" fill="none">
                    <path d="M128 0 98.572 147.138A16 16 0 0 1 82.883 160H13.117a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-45.117 320H-116M64-160 34.572-12.862A16 16 0 0 1 18.883 0h-69.766a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-109.117 160H-180M192 160l-29.428 147.138A15.999 15.999 0 0 1 146.883 320H77.117a16 16 0 0 0-15.69 12.862L34.573 467.138A16 16 0 0 1 18.883 480H-52M-136 480h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1-18.883 320h69.766a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 109.117 160H192M-72 640h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 45.117 480h69.766a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A15.999 15.999 0 0 1 173.117 320H256M-200 320h58.883a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A16 16 0 0 1-82.883 160h69.766a16 16 0 0 0 15.69-12.862L29.427 12.862A16 16 0 0 1 45.117 0H128"></path>
                </pattern>
            </defs>
        </svg>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="max-w-2xl" >
                <h2>
                    <span class="block font-display tracking-tight [text-wrap:balance] text-2xl font-semibold text-cyprus-500">More case studies</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
                <div>
                    <article>
                        <div class="relative flex flex-col items-start pl-8 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <h3 class="mt-6 text-base font-semibold text-cyprus-500">
                                Skip the bank, borrow from those you trust
                            </h3>
                            <time datetime="2023-01" class="order-first text-sm text-neutral-600">
                                January 2023
                            </time>
                            <p class="mt-2.5 text-base text-neutral-600">
                                FamilyFund is a crowdfunding platform for friends and family. Allowing users to take personal loans from their network without a traditional financial institution.
                            </p>
                            <a class="mt-6 flex gap-x-3 text-base font-semibold text-cyprus-500 transition hover:text-neutral-700" aria-label="Read more: Skip the bank, borrow from those you trust" href="/work/family-fund">
                                Read more
                                <svg viewBox="0 0 24 6" aria-hidden="true" class="w-6 flex-none fill-current">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 3 18 .5v2H0v1h18v2L24 3Z"></path>
                                </svg>
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </article>
                </div>
                <div>
                    <article>
                        <div class="relative flex flex-col items-start pl-8 relative before:absolute after:absolute before:bg-uf-green after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <h3 class="mt-6 text-base font-semibold text-cyprus-500">
                                MacDon: The Harvesting Specialists
                            </h3>
                            <time datetime="2023-01" class="order-first text-sm text-neutral-600">
                                January 2023
                            </time>
                            <p class="mt-2.5 text-base text-neutral-600">
                                MacDon Industries Ltd. is a Canadian manufacturer of specialty agricultural equipment.
                            </p>
                            <a class="mt-6 flex gap-x-3 text-base font-semibold text-cyprus-500 transition hover:text-neutral-700" aria-label="Read more: MacDon: The Harvesting Specialists" href="/work/macdon">
                                Read more
                                <svg viewBox="0 0 24 6" aria-hidden="true" class="w-6 flex-none fill-current">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 3 18 .5v2H0v1h18v2L24 3Z"></path>
                                </svg>
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="-mx-6 rounded-4xl bg-cyprus-500 px-6 py-20 sm:mx-0 sm:py-32 md:px-12" >
            <div class="mx-auto max-w-4xl">
                <div class="max-w-xl">
                    <h2 class="font-display text-3xl font-medium text-white [text-wrap:balance] sm:text-4xl">
                        Tell us about your project
                    </h2>
                    <div class="mt-6 flex">
                        <a class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-white text-cyprus-500 hover:bg-neutral-200" href="/contact">
                            <span class="relative top-px">
                                Say Hello!
                            </span>
                        </a>
                    </div>
                    <div class="mt-10 border-t border-uf-green pt-10">
                        <h3 class="font-display text-base font-semibold text-white">
                            Our office
                        </h3>
                        <ul role="list" class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Port Talbot</strong><br>
                                    Sandfields Business Centre,<br>Purcell Avenue, Port Talbot, SA12 7PQ
                                </address>
                            </li>
                            <li>
                                <address class="text-sm not-italic text-neutral-300">
                                    <strong class="text-white">Telephone</strong><br>
                                    <a href="tel:01639 895 677">01639 895 677</a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
