{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="flex justify-center">
    <div class="w-[33.75rem] flex-none lg:w-[45rem] opacity-100 transform-none">
        <div class="justify-center lg:justify-end lg:group-even/section:justify-start relative flex aspect-[719/680] w-full grayscale">
            <svg viewBox="0 0 719 680" fill="none" class="h-full">
                <g clip-path="url(#:S2:-clip)" class="group">
                    <g class="origin-center scale-100 transition duration-500 motion-safe:group-hover:scale-105">
                        {% if image|length or videos|length %}
                            <foreignObject width="719" height="680">
                                {% set videoImage = videos.media.image ?? null %}
                                {% set finalImage = image|length ? image : videoImage %}
                                {% set videoId = 'image-video-'|t ~ block.getId() %}

                                {{ render.renderVideo({
                                    image: finalImage|length ? finalImage,
                                    alt: image|length ? image.title : videoId,
                                    width: '2400',
                                    height: '1600',
                                    class: "w-full bg-neutral-100 object-cover text-transparent aspect-[719/680]",
                                    lazy: false,
                                    decoding: 'async',
                                    plainImage: image|length ? false : true,
                                    videos: videos,
                                    videoClass: "w-full object-cover",
                                    videoType: 'popup',
                                    videoPoster: image,
                                    videoId: videoId,
                                    class: "w-full bg-neutral-100 object-cover text-transparent aspect-[719/680]",
                                    sizes: "(min-width: 1024px) 41rem, 31rem",
                                    videoAttrs: {
                                        preload: "none",
                                    }
                                }) }}
                            </foreignObject>
                        {% endif %}
                    </g>
                    <use href="#:S2:-shape" stroke-width="2" class="stroke-neutral-950/10"></use>
                </g>
                <defs>
                    <clipPath id=":S2:-clip">
                        <path id=":S2:-shape" d="M89.827 9.245A11.5 11.5 0 0 1 101.104 0h63.366c7.257 0 12.7 6.64 11.277 13.755l-25.6 128A11.5 11.5 0 0 1 138.87 151H75.504c-7.257 0-12.7-6.639-11.277-13.755l25.6-128Zm-64 321A11.5 11.5 0 0 1 37.104 321h63.366c7.257 0 12.7 6.639 11.277 13.755l-25.6 128A11.5 11.5 0 0 1 74.87 472H11.504c-7.257 0-12.7-6.639-11.277-13.755l25.6-128ZM526.795 470a15.999 15.999 0 0 0-15.689 12.862l-32.032 160.159c-4.3 21.502-23.18 36.979-45.107 36.979H115.502c-29.028 0-50.8-26.557-45.107-55.021l102.4-512C177.096 91.477 195.975 76 217.902 76h318.465c29.028 0 50.8 26.557 45.107 55.021l-33.768 168.841c-1.98 9.901 5.592 19.138 15.689 19.138h17.075l.127.001c.85.009 1.701.074 2.549.009 11.329-.874 21.411-7.529 24.88-25.981.002-.012.016-.016.023-.007.008.009.022.005.024-.006l24.754-123.771A11.5 11.5 0 0 1 644.104 160h63.366c7.257 0 12.7 6.639 11.277 13.755l-25.6 128A11.5 11.5 0 0 1 681.87 311H623c-22.866 0-28.984 7.98-31.989 25.931-.004.026-.037.035-.052.014-.015-.02-.048-.013-.053.012l-24.759 123.798A11.5 11.5 0 0 1 554.87 470h-28.075Z" fill-rule="evenodd" clip-rule="evenodd"></path>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
</div>
