{#
===============================================================================
    Tags (tags)

    Variables
        - Block (block)

    Fields:
        Content:
            - Tag (tag)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set tags = block.tag.all() %}

{% if tags|length %}
<ul role="list" class="flex flex-wrap gap-4">
    {% for tag in tags %}
        <li class="rounded-full bg-neutral-100 px-4 py-1.5 text-base text-neutral-600">
            {{ tag.title }}
        </li>
    {% endfor %}
</ul>
{% endif %}