{% set changeColorCon = changeDefaultColor ? changeDefaultColor and opacity < 55 and opacity != 'none' : false %}

{% set backgroundColors = {
    'none'       : 'text-neutral-600',
    'white'      : 'text-neutral-600',
    'black-50'   : 'text-neutral-600',
    'green-50'   : 'text-neutral-800',
    'cyprus-50'  : 'text-neutral-800',
    'green'      : changeColorCon ? 'text-neutral-600' : 'text-white',
    'cyprus'     : changeColorCon ? 'text-neutral-600' : 'text-neutral-300',
    'black'      : changeColorCon ? 'text-neutral-600' : 'text-neutral-300',
} %}

{% set blockquoteColors = {
    'none'       : 'border-cyprus-500 bg-cyprus-100/20',
    'white'      : 'border-cyprus-500 bg-cyprus-100/20',
    'black-50'   : 'border-netural-950 bg-neutral-200/30',
    'green-50'   : 'border-green-500 bg-green-200/20',
    'cyprus-50'  : 'border-cyprus-500 bg-cyprus-200/20',
    'green'      : changeColorCon ? 'border-green-500 bg-green-200/30' : 'border-white bg-green-100/30',
    'cyprus'     : changeColorCon ? 'border-cyprus-500 bg-cyprus-200/20' : 'border-white bg-cyprus-200/30',
    'black'      : changeColorCon ? 'border-neutral-500 bg-neutral-200/30' : 'border-white bg-neutral-600/20',
} %}

{% set strongtextColor = {
    'none'       : 'text-cyprus-500',
    'white'      : 'text-cyprus-500',
    'black-50'   : 'text-cyprus-500',
    'green-50'   : 'text-neutral-800',
    'cyprus-50'  : 'text-neutral-800',
    'green'      : changeColorCon ? 'text-neutral-600' : 'text-white',
    'cyprus'     : changeColorCon ? 'text-neutral-600' : 'text-white',
    'black'      : changeColorCon ? 'text-neutral-600' : 'text-white',
} %}

{% set classes = extraClasses|length ? extraClasses ~ ' ' : '' %}
{% set color = forceTextColor|default(backgroundColors[background]) %}
{% set quoteColors = forceTextColor|default(blockquoteColors[background]) %}
{% set strongTextColor = forceTextColor|default(strongtextColor[background]) %}
{% set paragraphFontSize = paragraphFontSize|default('text-base') %}
{% set spacingClass = spacingClass|length ? spacingClass %}
{% set tableBorder = background == 'white' ? 'border-netural-600' : 'border-white' %}

{% set h1 = h1|default('text-5xl sm:text-7xl font-medium') %}
{% set h2 = h2|default('text-5xl sm:text-6xl font-medium') %}
{% set h3 = h3|default('text-4xl sm:text-5xl font-medium') %}
{% set h4 = h4|default('text-3xl sm:text-4xl font-medium') %}
{% set h5 = h5|default('text-3xl font-medium') %}
{% set h6 = h6|default('text-2xl font-medium') %}
{% set a = a|default('underline underline-offset-2') %}
{% set p = p|default("#{spacingClass} #{paragraphFontSize}") %}
{% set strong = strong|default("#{strongTextColor}") %}
{% set ul = ul|default("ml-8 list-disc list-outside #{paragraphFontSize}") %}
{% set ol = ol|default("ml-8 list-decimal list-outside #{paragraphFontSize}") %}
{% set li = li|default("mb-1") %}
{% set hr = hr|default('my-6 border-cyprus-500') %}
{% set blockquote = blockquote|default("p-4 border-l-4 text-lg #{quoteColors}") %}
{% set pre = pre|default('p-4 block whitespace-pre overflow-x-scroll bg-gray-50 text-sm') %}
{% set iframeFigure = iframeFigure|default('aspect-w-16 aspect-h-9') %}
{% set table = table|default('min-w-full whitespace-nowrap lg:whitespace-normal') %}
{% set thead = thead|default('bg-gray-100 border-b text-left') %}
{% set th = th|default('p-3 text-sm text-left') %}
{% set td = td|default('p-3 text-sm text-left') %}
{% set tr = tr|default("border-b even:bg-gray-100 #{tableBorder}") %}
{% set img = img|default('rounded-4xl aspect-[16/10] h-full w-full object-cover grayscale-[0.485642] duration-300 hover:grayscale-0') %}

{% set fontSizeClasses = {
    'text-tiny': 'text-xs',
    'text-small': 'text-sm',
    'text-default': 'text-base',
    'text-big': 'text-lg',
    'text-huge': 'text-xl'
} %}

{# Directly replace CKEditor font-size classes with Tailwind classes #}
{% set text = text|replace(fontSizeClasses) %}

{{ text|replace({
    "<h1": "<h1 class='#{h1} #{classes} #{color}'",
    "<h2": "<h2 class='#{h2} #{classes} #{color}'",
    "<h3": "<h3 class='#{h3} #{classes} #{color}'",
    "<h4": "<h4 class='#{h4} #{classes} #{color}'",
    "<h5": "<h5 class='#{h5} #{classes} #{color}'",
    "<h6": "<h6 class='#{h6} #{classes} #{color}'",
    "<pre": "<pre class='#{pre} #{classes} #{color}'",
    "<a": "<a class='#{a} #{classes} #{color}'",
    "<p": "<p class='#{p} #{classes} #{color}'",
    "<strong": "<strong class='#{strong}'",
    "<ul": "<ul class='#{ul} #{classes} #{color}'",
    "<ol": "<ol class='#{ol} #{classes} #{color}'",
    "<li": "<li class='#{li} #{classes} #{color}'",
    "<hr": "<hr class='#{hr} #{classes} #{color}'",
    '<figure class="table">': "<figure class='#{table} #{classes} #{color}'>",
    "<table": "<table class='#{table} #{classes} #{color}'",
    "<thead": "<thead class='#{thead} #{classes} #{color}'",
    "<th": "<th class='#{th} #{classes} #{color}'",
    "<td": "<td class='#{td} #{classes} #{color}'",
    "<tr": "<tr class='#{tr} #{classes} #{color}'",
    "<figure><iframe" : "<figure class='#{iframeFigure} #{classes} #{color}'><iframe",
    "<blockquote><p>" : "<figure><blockquote class='#{blockquote} #{classes} #{color}'>“",
    "</p></blockquote>" : "”</blockquote></figure>",
    "<img": "<img class='#{img} #{classes}'",
})|raw }}
