{# {{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set limit = block.limit|default(12) %}
{% set teamListingStyle = block.listingStyle.value|default('slider') %}
{% set filter = block.filter ?? null %}
{% set pagination = block.pagination %}

{% set relatedTeamMember = block.relatedTeamMember.one() %}
{% set relatedteam = block.relatedTeamMember.limit(limit).with(['image']).cache() %}
{% if not relatedteam|length %}
    {% set relatedteam = craft.entries.section("team").limit(limit).with(['image']).cache() %}
{% endif %}

{% if relatedTeamMember|length %}
    {% set relatedteam = relatedteam.parentFund(relatedTeamMember.id) %}
{% endif %}

{% if pagination %}
    {% paginate relatedteam as pageInfo, entries %}
{% else %}
    {% set entries = relatedteam.all() %}
{% endif %}

{% set contentId = 'team' ~ parent.getId() %}

{% do relatedteam.all() %}

{% if relatedteam|length %}
    <div class="lg:col-span-3">
        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8">
            {% for item in relatedteam %}
            {% set image = item.image.one() %}
                <li>
                    <div style="opacity: 1; transform: none;">
                        <div class="group relative overflow-hidden rounded-3xl bg-neutral-100">
                            {{ render.setImage({
                                image: image,
                                alt: image.title,
                                width: 1800,
                                height: 1800,
                                class: 'h-96 w-full object-cover grayscale transition duration-500 motion-safe:group-hover:scale-105'
                            }) }}

                            {% if item.title|length or item.designation|length %}
                                <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                                    <p class="font-display text-base/6 font-semibold tracking-wide text-white">
                                        {{ item.title }}
                                    </p>
                                    <p class="mt-2 text-sm text-white">
                                        {{ item.designation }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %} #}