:root {
    --fui-input-box-shadow-focus: none;
    --fui-check-label-height: 1.5rem;
    --fui-check-label-width: 1.5rem;
    --fui-check-label-top: 1.25px;
    --fui-check-label-padding-left: 2.25rem;
}